*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.navbar{
    background-image: linear-gradient(to right, #fe8c00, #f83600) !important;
    z-index: 100;
}
.userinfo{
    height: 100vh;
    position: fixed;
    border-radius: 0px; 
    z-index: -1;
    /* background-image:linear-gradient(to right, #fe8c00 95%, #f83600 5%) !important; */
}

.chartcard{
    margin: 0.5em 0;
}

.mycontainer{
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top:76px;
    margin-left: 225px;  
}

.logo{
    color: rgb(245, 240, 240);
    letter-spacing: 2px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links a{
    color: blue;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
}
.navbar-color{
    display: flex !important; 
    justify-content: space-around !important;
    align-items: center !important;
    min-height: 8vh !important;
    background-color: blue;

}
.footer-font{
    color: white !important;    
}

footer{ 
    background-image: linear-gradient(to right, #fe8c00, #f83600) !important;
    z-index: 100;
}

hr{
    border-color: white !important  
}